<h1>Subscription#new</h1>
<%= error_messages_for :model %>

<% form_for @team, :url => subscriptions_path do |f| -%>
  <%= f.error_messages %>
	
	<p>
		<%= f.label :nom, "Nom Equipe" %> : <%= f.text_field :nom %>
	</p>
	<p>
		<%= f.label :adresse, "Adresse" %> : <%= f.text_field :adresse %>
	</p>
	<p>
		<%= f.label :zip, "Code Postal" %> : <%= f.text_field :zip %>
	</p>
	<p>
		<%= f.label :ville, "Ville" %> : <%= f.text_field :ville %>
	</p>
	<p>
		<%= f.label :country, "Pays" %> : <%= f.text_field :country %>
	</p>
	<p>
		<%= f.label :adminname, "Login de l'administrateur" %> : <%= f.text_field :adminname %>
	</p>
	<p>
		<%= f.label :adminpassword, "Mot de passe administrateur" %> : 
		<%= f.password_field :adminpassword %>
	</p>
	<p>
		<%= f.label :adminpassword_confirmation, "Confirmer le mot de passe" %> :
		<%= f.password_field :adminpassword_confirmation %>
	</p>
	
	<% fields_for @subscription do |s| %>
	<p>
		<%= s.radio_button :plan_id, "1" %> : Abonnement Standard 39,90 €<br/>
		<%= s.radio_button :plan_id, "2" %> : Abonnement Silver 49,90 €<br/>
		<%= s.radio_button :plan_id, "3" %> : Abonnement Gold 59,90 €
	</p>
	<% end %>
	<p>
		
	</p>
	<p>
		<%= f.submit "S'abonner" %>
	</p>
<% end -%>
