<h1>Subscription#new</h1>
<%= error_messages_for :model %>

<% form_for @team, :url => subscriptions_path do |f| -%>
  <%= f.error_messages %>
	
	<%= render :partial => 'team', :locals => {:f => f} %>
	
	<% fields_for @subscription do |s| %>
	<p>
		<%= s.radio_button :plan_id, "1" %> : Abonnement Standard 39,90 €<br/>
		<%= s.radio_button :plan_id, "2" %> : Abonnement Silver 49,90 €<br/>
		<%= s.radio_button :plan_id, "3" %> : Abonnement Gold 59,90 €
	</p>
	<% end %>
	<p>
		
	</p>
	<p>
		<%= f.submit "S'abonner" %>
	</p>
<% end -%>
