<h1>Subscriptions#Verify</h1>

Vérifiez vos informations avant de procéder au paiement de l'abonnement. Vous serez rediriger sur le site de Paypal pour procéder au paiement de l'abonnement.

<p><%= @subscription.team.nom %></p>

<p><%= @subscription.plan.nom %></p>

<p><%= @subscription.plan.price_with_decimal %> € </p>


<!-- TODO : activate in production -->
<%- Paypal::Notification.ipn_url = APP_CONFIG[:paypal_url] -%>
<!-- END TODO -->

<!-- Using the paypal plugin helper -->
<p align="center">
	<% paypal_form_tag do %>
		<%= paypal_subscription_setup "Abonnement Standard", APP_CONFIG[:paypal_email], @subscription.plan.price_with_decimal, @subscription.id, :return => congrats_url(@team.id), :notify_url => payment_notifications_url, :currency_code => "USD" %>
		<%= submit_tag "Payer sur Paypal" %>
	<% end %>
</p>
